<body>
    <h2>Página de inicio</h2>
    <p>
        A través del formulario de envío pueden mandarse datos para generar una tarjeta con el nombre, el tipo de animal, una descripción breve y un enlace para una imagen.
    </p>
    <p>
        Los datos se almacenan en un archivo tipo SQLite3.
    </p> 
    <p>
        Cada tarjeta cuenta con los botones para dar "Me gusta", "No me gusta", "Compartir", "Guardar" y "Eliminar" en formato de icono aunque solamente está implementada la funcionalidad de éste último.
    </p>
    <p>
        Esta página está sujeta a cambios.
    </p>
</body>
