/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    padding: 24px;
}
h1{
    padding: 0 1rem;
}
h2{
    padding: 1rem;
}
.mat-toolbar{
    color: darkgray;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgb(80,80,80);
}
.contenedor{
    height: 100%;
    background-color: rgba(80, 77, 77, 0.85);
}
.sidenav{
    width: 175px;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(94, 94, 94, 0.8);
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }
}
.fondo{
    padding-top: 3.5rem;
    @media screen and (min-width:600px) {
        padding-top: 4rem;
    }
}